<launch>
  <include file="$(find urg_node)/launch/urg_lidar.launch" />
  <include file="$(find lane_scan)/launch/lane_scan.launch" />
  <node name="main_app" pkg="main_app" type="application.py" output="screen">
    <param name="scan_output_topic" type="string" value="lane_scan_result"/>
  </node>
</launch>
